@import "bootstrap.min";
@import "variables";
@import "colors";
@import "mixins";
@import "extras";
@import "font";
@import "simple-line-icons";
@import "general";
@import "buttons";
@import "forms";
@import "alert";
@import "modal";
@import "components/form";
@import "components/search";
@import "components/table";
@import "components/tableSidebar";
@import "components/tabs";
@import "components/signin";
@import "components/badge";
@import "components/pagination";
@import "components/dropdown";
@import "components/card";
@import "components/textColors";
@import "components/grid";
@import "components/icons";
@import "components/list";
@import "components/navbar";
@import "components/accordion";
@import "components/error";

body{
  background: #F5F9FD;
  font-family: 'Roboto', sans-serif;

  .wrapper{
    display: flex;
    align-items: stretch;
    height: 100%;

    .sidebar{
      min-width: 270px;
      background: #fff;
      box-shadow: 0 0 5px 0 rgba(0,60,130,0.08);
      min-height: 100vh;
      position: relative;
      transition: all 0.3s;
      margin-left: 0;

      &--logo{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
          &:before{
            display: none;
          }
        }
      }

      &--nav{
        margin-top: 20px;

        &--title{
          font-size: 12px;
          color: #BDBDBD;
          text-transform: uppercase;
          padding: 0 30px;
          margin: 0 0 6px;
        }

        ul{
          list-style-type: none;
          padding: 0;
          margin: 0;

          > li {
            color: #757575;
            font-size: 15px;
            padding: 0 30px;
            transition: all 0.2s ease-in-out;

            &:hover{
              background: #E8F0FA;

              a{
                color: #003C82;
                opacity: 1;
              }

              i{
                color: #003C82;
              }
            }

            > a{
              height: 56px;
              display: flex;
              align-items: center;
              color: #757575;
              padding: 0;

              &:before{
                display: none;
              }

              &:after{
                right: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;

              }
            }

            > .dropdown-toggle{
              &:after{
                border: none;
                content: "\e604";
                font-family: 'simple-line-icons';
                font-size: 13px;
                top: -14px;
                right: 8px;
              }
            }

            i{
              color: #BDBDBD;
              font-size: 20px;
              margin-right: 15px;
              transition: all 0.2s ease-in-out;
            }

            .dropdown-menu{
              position: static !important;
              float: none !important;
              transform: none !important;
              box-shadow: none;
              background: none;
              padding: 0 0 20px;
              margin: 0;

              .dropdown-item{
                padding: 12px 0;
                color: #757575;

                &:hover, &:focus, &:active{
                  background: none;
                  color: #003C82;
                }
              }

              .dropdown-item.active{
                color: #003C82;
              }
            }
          }

          .show{
            > .dropdown-toggle{
              &:after{
                content: "\e607";
              }
            }
          }

          .active, .show{
            background: #E8F0FA;

            a{
              color: #003C82;
              opacity: 1;
            }

            i{
              color: #003C82;
            }
          }
        }
      }

      &--footer{
        position:static;
        bottom:0;
        width: 100%;
        border-top: 2px solid #E8F0FA;
        padding-top: 30px;
        margin-top: 15px;

        ul{
          list-style-type: none;
          margin: 0;
          padding: 0 30px;
          display: flex;

          li{
            margin-right: 18px;

            a{
              color: #BDBDBD;

              &:before{
                display: none;
              }
            }
          }
        }

        &--copyright{
          padding: 0 30px;
          font-size: 12px;
          color: #BDBDBD;
          margin-top: 15px;
        }
      }
    }

    .sidebar.active{
      margin-left: -270px;
      transition: all 0.3s;
    }

    .content{
      margin: 30px 60px;
      width: 100%;

      &--toggleSidebar{

      }

      &--title{
        margin-bottom: 30px;

        .link{
          color: #757575;

          &:before{
            display: none;
          }

          i{
            color: #757575;
            font-size: 18px;
            margin-right: 8px;
            position: relative;
            top: 1px;
          }
        }

        &--left{
          h4{
            margin: 0;
          }
        }

        &--right{
          float: right;
          margin-top: 11px;

          &--breadcrumb{
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li{
              position: relative;
              margin-left: 30px;

              &:after{
                content: "\e606";
                font-family: 'simple-line-icons';
                font-size: 8px;
                color: #BDBDBD;
                position: absolute;
                top: 7px;
                right: -20px;
              }

              a{
                color: #BDBDBD;
                text-decoration: none;

                &:before{
                  display: none;
                }
              }
            }

            .active{
              &:after{
                content: '';
              }

              a{
                color: #003C82;
              }
            }
          }
        }
      }

      &--buttons{
        margin: 30px 0;

        &--right{
          float: right;
        }
      }

      &--main{
        &--wrapper{
          background: #FFFFFF;
          box-shadow: 0 0 5px 0 rgba(0,60,130,0.08);
          border-radius: 4px;
          padding: 30px;

          &--title{
            color: #757575;
          }
        }
      }
    }

  }
}
