.component--card{
  background: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(0,60,130,0.08);
  margin-bottom: 30px;

  img{
    width: 100%;
    height: 200px;
    background-color: lightgrey;
    display: block;
  }

  &--content{
    padding: 15px 30px;

    h3{
      a{
        color: #3D3D3D;
        font-size: 19px;

        &:before{
          display: none;
        }
      }
    }

    p{
      font-size: 15px;
      color: #757575;
    }

    time{
      font-size: 12px;
      text-transform: uppercase;
      color: #BDBDBD;
      display: block;
      margin-bottom: 25px;
    }

    > a{
      display: inline-block;
      margin-bottom: 15px;
    }
  }
}
