.list-group{
  border: none;


  &-item{
      border: 1px solid #E7E7E7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;

      > p{
        margin: 0;
        color: #757575;
      }

    &-left{
      h6{
        color: #003C82;
        margin: 0 0 5px;
      }

      p{
        margin: 0;
        color: #757575;
      }
    }

    &-right{
      p{
        margin: 0;
        color: #BDBDBD;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }

  .active{
    background: #E8F0FA;
    border: 1px solid #E7E7E7;
  }
}

ul.component--list{
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0 0 0 20px;

  li{
    color: #757575;
    position: relative;
    padding: 0 0 0 25px;
    margin: 0 0 8px;

    &:before{
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      border-radius: 100%;
      background-color: #BDBDBD;
      position: absolute;
      left: 0;
      top: 9px;
    }

    ul{
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0 0 0 20px;
      list-style-type: none;
    }
  }
}

ol.component--list{
  margin-bottom: 10px;
  padding: 0 0 0 40px;

  li{
    color: #757575;
    position: relative;
    padding: 0 0 0 10px;
    margin: 0 0 8px;

    ol{
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0 0 0 20px;
    }
  }
}
